body{
    padding: 70px;
    background-color: rgba(4, 9, 10, 0.77);
    font-style: oblique;
}

.container {
  display: flex;
}
.nav{
    max-width: 30%;
    min-width: 100px;
    background-color: grey;
    flex: 1;
    border-radius: 6px;
    overflow: scroll;
    height: 550PX;
}
.main{
    margin-left: 10px;
    min-width: 60%;
    padding-left: 50px;
    background-color: lightgrey;
    overflow: scroll;
    height: 550PX;
    border-radius: 6px;
}

#menu{
    padding-top: 50px;
    padding-bottom: 20px;
    padding-right: 100px;
    padding-left: 100px;
}
#listview{
    padding-right: 100px;
    padding-left: 100px;
    padding-bottom: 20px;
}
#labellist{
    width: 80%;
    padding-top: 10px;
    border-radius: 6px;
    font-style: italic;
}
input{
    border-radius: 6px;
}